body {
    width: 90%;
}

/* Dropdown Button */
.dropbtn {
    background-color: #2596AB;
    color: white;
    height: 75px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-top: 10%;
    
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #CF6533;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative; 
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: relative;
    right: 0px;
    top: 0px;
    background-color: #f1f1f1;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  
#player {
    position: relative;
    bottom: 100px;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    width: 55%;
    margin-top: 0;
}
#ytVideo {
    position: absolute;
    top: 0;
    left: 45%;
    width: 110%;
    
    padding-top: 80px;
    text-align: center;
}
h1 {
    color: #2596AB;
    justify-content: center;
    margin: auto;
    margin-left: auto;
    font-family: 'Fira Sans', sans-serif;
    font-size: 75px;
    text-align: center;
}
h2 {
    color: #2596AB;
    justify-content: center;
    margin: auto;
    margin-left: auto;
    font-family: 'Fira Sans', sans-serif;
    font-size: 75px;
    text-align: center;
}
h4 {
    width: 80%;
    position: relative;
    top: 10px;
    margin-left: 10%;
    font-size: 36px;
    font-family: 'Fira Sans', sans-serif;
}
.time {
    width: 300px;
    position: relative;
    left: 70%;
    padding: 0;
    bottom: 200px;
    /* margin: 25px; */
}
.parabutton {
    height: 80%;
}
iframe {
    width: 50%;
    height: 80%;
}

@media only screen and (max-width: 600px) {
    * {
      display: block;
    }
  }
  #cartoon {
    display: inline;
    margin: 500px;
  }